In [3]:
import pandas as pd
import numpy as np
import pymysql

In [4]:
# 读取数据库网格数据
conn = pymysql.connect("127.0.0.1","root","root","pythontestdb")
grid_data = pd.read_sql("select * from grid",con=conn)

In [6]:
grid_data.head()

,ID,NAME,CODE,TYPE,SUB_BRAN,SUB_BRAN_NAME,BUSIMANAGER_ID,BUSIMANAGER_NAME,GREPRESENTATIVE,PHONE,...,BY_COUNTS2,BY_COUNTS3,BY_COUNTS4,BY_COUNTS5,BY_BAL1,BY_BAL2,BY_BAL3,BY_BAL4,BY_BAL5,TOWN
0,10001,花园小区,10001,1,281000008,杜集支行,91401017,桑奎红,桑奎红,15678563434,...,18.0,3.0,3.0,3.0,3000.0,1000000.0,3.0,3.0,3.0,郭家镇
1,10002,沿街商铺,10002,1,281000009,常洼支行,91401014,李永鑫,李永鑫,18976543211,...,20.0,3.0,3.0,3.0,4500.0,2000000.0,3.0,3.0,3.0,张店镇
2,10003,城北商业街,10003,1,281000009,常洼支行,91401014,李永鑫,谷晓洁,13578786565,...,22.0,3.0,3.0,3.0,5800.0,500000.0,3.0,3.0,3.0,王庄镇
3,10004,李店沿街商铺,10004,4,281000011,长官支行,91401008,张然,张然,17867677676,...,15.0,3.0,3.0,3.0,6100.0,1500000.0,3.0,3.0,3.0,李家镇
4,10005,地税局,10005,0,281000012,后魏支行,91401005,王盼盼,王盼盼,3,...,10.0,3.0,3.0,3.0,3500.0,2500000.0,3.0,3.0,3.0,大孙镇

In [56]:
cust_data = pd.read_excel("C:/Users/diaozhende/Desktop/models.xlsx",dtype={"grid":str})

In [57]:
cust_data.head()

    grid  custName              cdCard
0  10001       312  370781199705056372
1  10001       312  370781199705056372
2  10001       312  370781199705056372
3  10001       312  370781199705056372
4  10001       312  370781199705056372

In [76]:
typeCount = cust_data["grid"].size

In [34]:
grid_data["CODE"][1]

'10002'

In [72]:
typeCount[0]

33

In [60]:
grid_type = grid_data["ID"].shape

In [61]:
grid_type[0]

12

In [80]:
for i in range(0,typeCount):
    for j in range(0,grid_type[0]):
        if cust_data["grid"][i] == grid_data["CODE"][j]:
            cust_data["grid"][i] = grid_data["NAME"][j]+"-"+grid_data["CODE"][j]+"-"+grid_data["TYPE"][j]
            break;

D:\Program Files\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [81]:
cust_data

             grid  custName              cdCard
0    花园小区-10001-1       312  370781199705056372
1    花园小区-10001-1       312  370781199705056372
2    花园小区-10001-1       312  370781199705056372
3    花园小区-10001-1       312  370781199705056372
4    花园小区-10001-1       312  370781199705056372
5    花园小区-10001-1       312  370781199705056372
6    花园小区-10001-1       312  370781199705056372
7    花园小区-10001-1       312  370781199705056372
8    花园小区-10001-1       312  370781199705056372
9    沿街商铺-10002-1       312  370781199705056372
10   沿街商铺-10002-1       312  370781199705056372
11   沿街商铺-10002-1       312  370781199705056372
12   沿街商铺-10002-1       312  370781199705056372
13   沿街商铺-10002-1       312  370781199705056372
14   沿街商铺-10002-1       312  370781199705056372
15   沿街商铺-10002-1       312  370781199705056372
16   沿街商铺-10002-1       312  370781199705056372
17   沿街商铺-10002-1       312  370781199705056372
18   沿街商铺-10002-1       312  370781199705056372
19   沿街商铺-10002-1       312  370781199705056372
20  城北商业街-10003-1       313  370781199705056372
21  城北商业街-10003-1       314  370781199705056372
22  城北商业街-10003-1       315  370781199705056372
23  城北商业街-10003-1       316  370781199705056372
24  城北商业街-10003-1       317  370781199705056372
25  城北商业街-10003-1       318  370781199705056372
26  城北商业街-10003-1       319  370781199705056372
27  城北商业街-10003-1       320  370781199705056372
28  城北商业街-10003-1       321  370781199705056372
29  城北商业街-10003-1       322  370781199705056372
30  城北商业街-10003-1       323  370781199705056372
31  城北商业街-10003-1       324  370781199705056372
32  城北商业街-10003-1       325  370781199705056372