In [12]:
# 1、获取数据
import pandas
facebook_data = pandas.read_csv("E:/python大数据资料\黑马-02-最简单快速入门python机器学习/资料/机器学习day2资料/02-代码/FBlocation/train.csv")

In [13]:
facebook_data.head()

   row_id       x       y  accuracy    time    place_id
0       0  0.7941  9.0809        54  470702  8523065625
1       1  5.9567  4.7968        13  186555  1757726713
2       2  8.3078  7.0407        74  322648  1137537235
3       3  7.3665  2.5165        65  704587  6567393236
4       4  4.0961  1.1307        31  472130  7440663949

In [14]:
# 2、数据处理
# （1）缩小数据范围（3<x<3.5,2<y<2.5）
facebook_data = facebook_data.query("x>3 & x<3.5 & y>2 & y<2.5")

In [15]:
facebook_data.head()

      row_id       x       y  accuracy    time    place_id
101      101  3.4777  2.0938        71  115352  3762957785
463      463  3.2228  2.4060        10   53671  9883722775
861      861  3.4123  2.1522        66  521528  3631406834
2255    2255  3.3950  2.3300        30  328984  5802159543
3260    3260  3.4463  2.1168         9   65262  1894108773

In [16]:
# (2)将时间戳转换成年月日时分秒的形式
date_data = pandas.to_datetime(facebook_data["time"],unit="s")

In [18]:
date = pandas.DatetimeIndex(date_data)

In [24]:
facebook_data["day"] = date.day
facebook_data["weekday"] = date.weekday
facebook_data["hour"] = date.hour

In [26]:
facebook_data.head()

      row_id       x       y  accuracy    time    place_id  day  weekday  hour
101      101  3.4777  2.0938        71  115352  3762957785    2        4     8
463      463  3.2228  2.4060        10   53671  9883722775    1        3    14
861      861  3.4123  2.1522        66  521528  3631406834    7        2     0
2255    2255  3.3950  2.3300        30  328984  5802159543    4        6    19
3260    3260  3.4463  2.1168         9   65262  1894108773    1        3    18

In [30]:
# (3)过滤签到次数少的地点
place_count = facebook_data.groupby("place_id").count()["row_id"]

In [33]:
place_count[place_count>3].head()

place_id
1006234733    57
1008823061     6
1012580558     8
1025585791    39
1031070090    70
Name: row_id, dtype: int64

In [41]:
facebook_data = facebook_data[facebook_data["place_id"].isin(place_count[place_count>3].index.values)]

In [42]:
facebook_data.head()

      row_id       x       y  accuracy    time    place_id  day  weekday  hour
101      101  3.4777  2.0938        71  115352  3762957785    2        4     8
463      463  3.2228  2.4060        10   53671  9883722775    1        3    14
861      861  3.4123  2.1522        66  521528  3631406834    7        2     0
2255    2255  3.3950  2.3300        30  328984  5802159543    4        6    19
3260    3260  3.4463  2.1168         9   65262  1894108773    1        3    18

In [46]:
# 筛选特征值(x)和目标值(y)
x = facebook_data[["x","y","accuracy","day","weekday","hour"]]
y = facebook_data["place_id"]

In [45]:
x.head()

           x       y  accuracy  day  weekday  hour
101   3.4777  2.0938        71    2        4     8
463   3.2228  2.4060        10    1        3    14
861   3.4123  2.1522        66    7        2     0
2255  3.3950  2.3300        30    4        6    19
3260  3.4463  2.1168         9    1        3    18

In [48]:
y.head()

101     3762957785
463     9883722775
861     3631406834
2255    5802159543
3260    1894108773
Name: place_id, dtype: int64

In [68]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

In [51]:
#  3、划分数据集
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [64]:
# 4、特征工程(标准化)
trainsfer = StandardScaler()
x_train = trainsfer.fit_transform(x_train)
x_test = trainsfer.transform(x_test)

In [65]:
# 5、knn算法预估器
knn = KNeighborsClassifier()

In [69]:
# 6、添加网格搜索和交叉验证来进行模型调优
param_dict = {"n_neighbors":[3, 5, 7, 9]}
knn = GridSearchCV(knn,param_dict = param_dict,cv=3)

TypeError: __init__() got an unexpected keyword argument 'param_dict'