In [1]:
import pandas

In [2]:
# 1、获取数据
data = pandas.read_csv("E:/数据集/2、跨境入境数据集/Border_Crossing_Entry_Data.csv")

In [9]:
data.head()

,Port Name,State,Port Code,Border,Date,Measure,Value,Location
0,Calexico East,California,2507,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,34447,POINT (-115.48433000000001 32.67524)
1,Van Buren,Maine,108,US-Canada Border,03/01/2019 12:00:00 AM,Rail Containers Full,428,POINT (-67.94271 47.16207)
2,Otay Mesa,California,2506,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,81217,POINT (-117.05333 32.57333)
3,Nogales,Arizona,2604,US-Mexico Border,03/01/2019 12:00:00 AM,Trains,62,POINT (-110.93361 31.340279999999996)
4,Trout River,New York,715,US-Canada Border,03/01/2019 12:00:00 AM,Personal Vehicle Passengers,16377,POINT (-73.44253 44.990010000000005)

In [5]:
pandas.notnull(data).all()

Port Name    True
State        True
Port Code    True
Border       True
Date         True
Measure      True
Value        True
Location     True
dtype: bool

In [37]:
# 2、筛选特征值
x = data[["Port Code","Value"]]
y = data[["Border"]]

In [13]:
x.head()

,Port Name,State,Port Code,Date,Measure,Value,Location
0,Calexico East,California,2507,03/01/2019 12:00:00 AM,Trucks,34447,POINT (-115.48433000000001 32.67524)
1,Van Buren,Maine,108,03/01/2019 12:00:00 AM,Rail Containers Full,428,POINT (-67.94271 47.16207)
2,Otay Mesa,California,2506,03/01/2019 12:00:00 AM,Trucks,81217,POINT (-117.05333 32.57333)
3,Nogales,Arizona,2604,03/01/2019 12:00:00 AM,Trains,62,POINT (-110.93361 31.340279999999996)
4,Trout River,New York,715,03/01/2019 12:00:00 AM,Personal Vehicle Passengers,16377,POINT (-73.44253 44.990010000000005)

In [16]:
y.head()

             Border
0  US-Mexico Border
1  US-Canada Border
2  US-Mexico Border
3  US-Mexico Border
4  US-Canada Border

In [19]:
# 3、划分数据集
from sklearn.model_selection import train_test_split

In [38]:
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=22)

In [42]:
# 4、特征工程
from sklearn.preprocessing import StandardScaler

In [43]:
trainsfer = StandardScaler()

In [46]:
trainsfer.fit_transform(x_train)
trainsfer.transform(x_test)

array([[ 0.78884309, -0.18516968],
       [ 1.11979728, -0.17966958],
       [ 0.54041903, -0.18443154],
       ...,
       [ 0.79968038, -0.18517621],
       [ 0.04107   , -0.18504557],
       [ 0.7096475 , -0.1789837 ]])

In [48]:
# 5、knn预估器
from sklearn.neighbors import KNeighborsClassifier

In [50]:
knn = KNeighborsClassifier(n_neighbors=3)

In [51]:
knn.fit(x_train,y_train)

D:\Program Files\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [52]:
# 6、模型评估
# 计算准确率
score = knn.score(x_test,y_test)

In [53]:
score

0.996769876793872