### 1、sklearn数据集的使用

In [1]:
from sklearn.datasets import load_iris

D:\Program Files\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
D:\Program Files\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [63]:
data = load_iris()

In [3]:
data

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'D:\\Program Files\\Anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\iris.csv'}

In [64]:
print("查看数据集的描述:\n",data["DESCR"])
# print("查看鸢尾花数据集的特征名称:\n",data.feature_names)
# print("查看鸢尾花数据集的特征值:\n",data.data.shape)

查看数据集的描述:
 .. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

#### （1）数据集的划分

In [7]:
from sklearn.model_selection import train_test_split

In [10]:
# 数据集的特征值，数据集的目标值，测试集的大小(20%)，随机数种子
x_train,x_test,y_train,y_test = train_test_split(data.data,data.target,test_size=0.2,random_state=22)
# 训练集的特征值，测试集的特征值，训练集的目标值，测试集的目标值

In [14]:
y_test

array([0, 2, 1, 2, 1, 1, 1, 2, 1, 0, 2, 1, 2, 2, 0, 2, 1, 1, 2, 1, 0, 2,
       0, 1, 2, 0, 2, 2, 2, 2])

### 2、特征抽取

#### (1)字典特征抽取

In [15]:
data = [{'city': '北京', 'temperature': 100}, {'city': '上海', 'temperature': 60}, {'city': '深圳', 'temperature': 30}]

In [16]:
data

[{'city': '北京', 'temperature': 100},
 {'city': '上海', 'temperature': 60},
 {'city': '深圳', 'temperature': 30}]

In [17]:
from sklearn.feature_extraction import DictVectorizer
trainfer = DictVectorizer()
dict_data = trainfer.fit_transform(data)

In [23]:
 print(dict_data.toarray(),type(dict_data))

[[  0.   1.   0. 100.]
 [  1.   0.   0.  60.]
 [  0.   0.   1.  30.]] <class 'scipy.sparse.csr.csr_matrix'>

In [22]:
# 特征名称
print("特征名称:\n",trainfer.get_feature_names())

特征名称:
 ['city=上海', 'city=北京', 'city=深圳', 'temperature']

#### （2）文本特征抽取

In [24]:
data_text = ["life is short,i like like python", "life is too long,i dislike python"]

In [28]:
from sklearn.feature_extraction.text import CountVectorizer
# stoo_words:停用词
trainfer = CountVectorizer(stop_words=["is","too"])
data_new = trainfer.fit_transform(data_text)
print(data_new.toarray())

[[0 1 2 0 1 1]
 [1 1 0 1 1 0]]

In [30]:
 print("特征名称：",trainfer.get_feature_names())

特征名称： ['dislike', 'life', 'like', 'long', 'python', 'short']

#### （3）使用Tfidf对文本进行特征抽取

In [42]:
import jieba
def jieba_cut(txt):
    data = jieba.cut(txt)
    return "".join(list(data))
from sklearn.feature_extraction.text import TfidfVectorizer
data = ["一种还是一种今天很残酷，明天更残酷，后天很美好，但绝对大部分是死在明天晚上，所以每个人不要放弃今天。","我们看到的从很远星系来的光是在几百万年之前发出的，这样当我们看到宇宙时，我们是在看它的过去。","如果只用一种方式了解某样事物，你就不会真正了解它。了解事物真正含义的秘密取决于如何将其与我们所了解的事物相联系。"]
data_new = []
for item in data:
    data_new.append(jieba_cut(item))
trainfer = TfidfVectorizer()
result_data = trainfer.fit_transform(data_new)
print(result_data.toarray())
print("特征名称:\n",trainfer.get_feature_names())

Building prefix dict from the default dictionary ...
Dumping model to file cache C:\Users\DIAOZH~1\AppData\Local\Temp\jieba.cache
Loading model cost 2.348 seconds.
Prefix dict has been built succesfully.

[[0.4472136  0.         0.4472136  0.         0.4472136  0.
  0.         0.         0.4472136  0.4472136  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.57735027 0.57735027 0.         0.         0.57735027]
 [0.         0.57735027 0.         0.57735027 0.         0.57735027
  0.         0.         0.         0.         0.        ]]
特征名称:
 ['一种还是一种今天很残酷', '了解事物真正含义的秘密取决于如何将其与我们所了解的事物相联系', '但绝对大部分是死在明天晚上', '你就不会真正了解它', '后天很美好', '如果只用一种方式了解某样事物', '我们是在看它的过去', '我们看到的从很远星系来的光是在几百万年之前发出的', '所以每个人不要放弃今天', '明天更残酷', '这样当我们看到宇宙时']

### 3、无量纲化

#### （1）标准化

In [45]:
# 1、读取数据
import pandas
dat_data = pandas.read_csv("E:/python大数据资料/黑马-02-最简单快速入门python机器学习/资料/机器学习day1资料/02-代码/dating.txt")
# 2、实例一个转换器
from sklearn.preprocessing import StandardScaler
trainfer = StandardScaler()
# 3、调用fit_trainform
new_data = trainfer.fit_transform(dat_data)
print(new_data)

[[ 0.33193158  0.41660188  0.24523407  1.24115502]
 [-0.87247784  0.13992897  1.69385734  0.01834219]
 [-0.34554872 -1.20667094 -0.05422437 -1.20447063]
 ...
 [-0.32171752  0.96431572  0.06952649  1.24115502]
 [ 0.65959911  0.60699509 -0.20931587  1.24115502]
 [ 0.46120328  0.31183342  1.00680598  1.24115502]]

#### （2）归一化

In [47]:
# 1、读取数据
dat_data = pandas.read_csv("E:/python大数据资料/黑马-02-最简单快速入门python机器学习/资料/机器学习day1资料/02-代码/dating.txt")
# 2、实例一个转换器
from sklearn.preprocessing import MinMaxScaler
trainfrom = MinMaxScaler()
# 3、调用fit_trainfrom
new_data = trainfrom.fit_transform(dat_data)
print(new_data)

[[0.44832535 0.39805139 0.56233353 1.        ]
 [0.15873259 0.34195467 0.98724416 0.5       ]
 [0.28542943 0.06892523 0.47449629 0.        ]
 ...
 [0.29115949 0.50910294 0.51079493 1.        ]
 [0.52711097 0.43665451 0.4290048  1.        ]
 [0.47940793 0.3768091  0.78571804 1.        ]]

### 4、特征降维

#### （1）特征选择

In [57]:
# 1、读取数据
data = pandas.read_csv("E:/python大数据资料/黑马-02-最简单快速入门python机器学习/资料/机器学习day1资料/02-代码/factor_returns.csv")
# 去除第一列和倒数第二列，去除不符合数据类型的数据，数据类型必须是数字类型
data = data.iloc[:,1:-2]
print(data.shape)
# 2、实例一个转换器
from sklearn.feature_selection import VarianceThreshold
trainfrom = VarianceThreshold(threshold=10)
# 3、调用fit_trainfrom
new_data = trainfrom.fit_transform(data)
print(new_data)
print(new_data.shape)

(2318, 9)
[[ 5.95720000e+00  8.52525509e+10  8.00800000e-01 ...  1.21144486e+12
   2.07014010e+10  1.08825400e+10]
 [ 7.02890000e+00  8.41133582e+10  1.64630000e+00 ...  3.00252062e+11
   2.93083692e+10  2.37834769e+10]
 [-2.62746100e+02  5.17045520e+08 -5.67800000e-01 ...  7.70517753e+08
   1.16798290e+07  1.20300800e+07]
 ...
 [ 3.95523000e+01  1.70243430e+10  3.34400000e+00 ...  2.42081699e+10
   1.78908166e+10  1.74929478e+10]
 [ 5.25408000e+01  3.28790988e+10  2.74440000e+00 ...  3.88380258e+10
   6.46539204e+09  6.00900728e+09]
 [ 1.42203000e+01  5.91108572e+10  2.03830000e+00 ...  2.02066110e+11
   4.50987171e+10  4.13284212e+10]]
(2318, 7)

In [60]:
# 计算某两个变量之间的相关系数
from scipy.stats import pearsonr
r1 = pearsonr(data["pe_ratio"], data["pb_ratio"])
print("相关系数：\n",r1)
r2 = pearsonr(data['revenue'], data['total_expense'])
print("revenue与total_expense之间的相关性：\n", r2)

相关系数：
 (-0.004389322779936274, 0.8327205496591377)
revenue与total_expense之间的相关性：
 (0.9958450413136111, 0.0)

#### （2）PCA降维

In [61]:
# 1、准备数据
data = [[2, 8, 4, 5], [6, 3, 0, 8], [5, 4, 9, 1]]
# 2、实例一个转换器
from sklearn.decomposition import PCA
# n_components:当数值为小数是表示保留对少数据，当数值为整数的时候表示降低到多少特征
pca = PCA(n_components=3)
# 3、调用fit_trainfrom
new_data = pca.fit_transform(data)
print(new_data)

[[ 0.00000000e+00  3.82970843e+00  3.61675757e-16]
 [-5.74456265e+00 -1.91485422e+00  3.61675757e-16]
 [ 5.74456265e+00 -1.91485422e+00  3.61675757e-16]]

### 案例：探究用户对物品类别的喜好细分

In [5]:
# 1、读取数据
import pandas
# 物品类别
aisles = pandas.read_csv("E:/python大数据资料/黑马-02-最简单快速入门python机器学习/资料/机器学习day1资料/02-代码/instacart/aisles.csv")
order_products = pandas.read_csv("E:/python大数据资料/黑马-02-最简单快速入门python机器学习/资料/机器学习day1资料/02-代码/instacart/order_products__prior.csv")
orders = pandas.read_csv("E:/python大数据资料/黑马-02-最简单快速入门python机器学习/资料/机器学习day1资料/02-代码/instacart/orders.csv")
products = pandas.read_csv("E:/python大数据资料/黑马-02-最简单快速入门python机器学习/资料/机器学习day1资料/02-代码/instacart/products.csv")

In [6]:
aisles.shape

(134, 2)

In [7]:
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
order_products = order_products.sort_values(by=["order_id"]).head(100000) #order_products.shape

In [9]:
orders = orders.sort_values(by=["order_id"]).head(100000)

In [10]:
orders.shape

(100000, 7)

In [11]:
products = products.head(10000)

In [11]:
products.shape

(49688, 4)

In [12]:
# 2、将orders和order_products合并
new_order = pandas.merge(order_products,orders,how="left",on=["order_id"])

In [13]:
new_order.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,1,202279,prior,3,5,9,8.0
1,2,28985,2,1,202279,prior,3,5,9,8.0
2,2,9327,3,0,202279,prior,3,5,9,8.0
3,2,45918,4,1,202279,prior,3,5,9,8.0
4,2,30035,5,0,202279,prior,3,5,9,8.0

In [14]:
# 3、将new_order和products进行合并
new_product = pandas.merge(products,new_order,how="left",on=["product_id"])

In [15]:
new_product.head()

,product_id,product_name,aisle_id,department_id,order_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,Chocolate Sandwich Cookies,61,19,1107.0,7.0,0.0,38259.0,prior,2.0,1.0,11.0,7.0
1,1,Chocolate Sandwich Cookies,61,19,5319.0,3.0,1.0,196224.0,prior,65.0,1.0,14.0,1.0
2,1,Chocolate Sandwich Cookies,61,19,7540.0,4.0,1.0,138499.0,prior,8.0,0.0,14.0,7.0
3,1,Chocolate Sandwich Cookies,61,19,9228.0,2.0,0.0,79603.0,prior,2.0,2.0,10.0,30.0
4,1,Chocolate Sandwich Cookies,61,19,9273.0,30.0,0.0,50005.0,prior,1.0,1.0,15.0,NaN

In [16]:
# 4、将new_product和aisles进行合并
new_aisles = pandas.merge(aisles,new_product)

In [17]:
new_aisles.head()

,aisle_id,aisle,product_id,product_name,department_id,order_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,prepared soups salads,209,Italian Pasta Salad,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,prepared soups salads,554,Turkey Chili,20,6888.0,2.0,1.0,186161.0,prior,12.0,0.0,20.0,4.0
2,1,prepared soups salads,554,Turkey Chili,20,8396.0,3.0,0.0,98985.0,prior,2.0,4.0,10.0,1.0
3,1,prepared soups salads,554,Turkey Chili,20,9549.0,4.0,1.0,190502.0,prior,7.0,6.0,13.0,6.0
4,1,prepared soups salads,554,Turkey Chili,20,9900.0,3.0,1.0,154442.0,prior,45.0,3.0,5.0,4.0

In [18]:
new_aisles.shape

(24629, 14)

In [20]:
from sklearn.decomposition import PCA
import pandas

In [21]:
new_aisles.head()
new_aisles = new_aisles.drop(["product_name","eval_set"],axis=1)
# pca = PCA(n_components=7)
# pac_data = pca.fit_transform(new_aisles)
# print(pca_data)

In [42]:
new_aisles = new_aisles.drop(["aisle"],axis=1)

In [35]:
pandas.isnull(new_aisles).any()

aisle_id                  False
aisle                     False
product_id                False
department_id             False
order_id                  False
add_to_cart_order         False
reordered                 False
user_id                   False
order_number              False
order_dow                 False
order_hour_of_day         False
days_since_prior_order    False
dtype: bool

In [25]:
# new_aisles["order_id "].findna(new_aisles["order_id "].mean(),inputlace=True)
import numpy

In [34]:
new_aisles["add_to_cart_order"].fillna(new_aisles["add_to_cart_order"].mean(),inplace=True)
new_aisles["reordered"].fillna(new_aisles["reordered"].mean(),inplace=True)
new_aisles["user_id"].fillna(new_aisles["user_id"].mean(),inplace=True)
new_aisles["order_number"].fillna(new_aisles["order_number"].mean(),inplace=True)
new_aisles["order_dow"].fillna(new_aisles["order_dow"].mean(),inplace=True)
new_aisles["order_hour_of_day"].fillna(new_aisles["order_hour_of_day"].mean(),inplace=True)
new_aisles["days_since_prior_order"].fillna(new_aisles["days_since_prior_order"].mean(),inplace=True)

In [45]:
pca = PCA(n_components=7)
pca_data = pca.fit_transform(new_aisles)
print(pca_data)
print(pca_data.shape)

[[-3.50738943e+00  4.93368091e+03 -2.13709447e+02 ... -1.11688967e-01
   9.34694722e-03  8.20290149e+00]
 [-8.26905140e+04  4.46403250e+03 -1.72670494e+03 ... -3.61723868e+00
  -9.35354532e+00  6.71526034e+00]
 [ 4.48402880e+03  4.45713167e+03 -3.31669790e+03 ... -1.31888213e+01
  -1.39638650e+01  7.55465606e+00]
 ...
 [ 2.33782625e+00 -3.28854647e+03  1.42445775e+02 ...  1.32231819e-01
   1.33174408e-03 -5.12356204e+00]
 [ 3.17806585e+00 -4.47043766e+03  1.93643237e+02 ...  1.05741746e-01
   6.43130669e-03 -4.96804605e+00]
 [ 3.40250855e+00 -4.78614148e+03  2.07318976e+02 ...  9.86657834e-02
   7.79348909e-03 -4.92650500e+00]]
(24629, 7)

In [43]:
new_aisles.head()

,aisle_id,product_id,department_id,order_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,209,20,5279.454398,8.347217,0.577555,103475.18297,17.368182,2.710858,13.482034,10.918553
1,1,554,20,6888.000000,2.000000,1.000000,186161.00000,12.000000,0.000000,20.000000,4.000000
2,1,554,20,8396.000000,3.000000,0.000000,98985.00000,2.000000,4.000000,10.000000,1.000000
3,1,554,20,9549.000000,4.000000,1.000000,190502.00000,7.000000,6.000000,13.000000,6.000000
4,1,554,20,9900.000000,3.000000,1.000000,154442.00000,45.000000,3.000000,5.000000,4.000000

### 5、用knn算法对鸢尾花数据集进行分类

In [50]:
# 1、读取数据
from sklearn.datasets import load_iris
iris_data = load_iris()
iris_data

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'D:\\Program Files\\Anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\iris.csv'}

In [52]:
# 2、数据集的划分
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(iris_data.data,iris_data.target)

In [53]:
# 3、特征工程（标准化）
from sklearn.preprocessing import StandardScaler
transform = StandardScaler()
transform.fit_transform(x_train)
transform.transform(x_test)

array([[ 0.80249256, -0.14740124,  0.8477095 ,  1.10371995],
       [-0.38324843, -1.58296117,  0.0649012 , -0.07482847],
       [-0.85754482,  1.52741867, -1.22114101, -0.99147724],
       [ 0.09104797, -0.14740124,  0.28856071,  0.44897083],
       [ 0.68391846, -0.38666123,  0.34447559,  0.18707118],
       [-0.97611892, -2.54000112, -0.10284344, -0.2057783 ],
       [ 2.22538175, -0.62592122,  1.68643267,  1.10371995],
       [-0.38324843, -1.82222116,  0.17673096,  0.18707118],
       [ 1.63251126,  0.33111873,  1.29502852,  0.8418203 ],
       [ 0.56534437,  0.80963871,  1.07136901,  1.62751925],
       [ 1.27678896,  0.09185875,  0.67996486,  0.44897083],
       [-0.97611892, -0.14740124, -1.16522613, -1.25337689],
       [-1.56898942, -1.82222116, -1.33297076, -1.12242707],
       [-0.73897073,  2.48445862, -1.22114101, -1.38432672],
       [-0.14610023, -1.34370118,  0.73587974,  1.10371995],
       [ 0.20962207,  0.80963871,  0.45630535,  0.57992065],
       [-0.26467433, -0.38666123, -0.04692856,  0.18707118],
       [ 0.09104797, -0.14740124,  0.79179462,  0.8418203 ],
       [-0.50182253,  0.80963871, -1.10931125, -1.25337689],
       [-0.26467433, -1.34370118,  0.12081608, -0.07482847],
       [-1.09469302, -1.34370118,  0.45630535,  0.71087048],
       [-1.45041532,  0.33111873, -1.27705589, -1.25337689],
       [-0.02752613, -0.86518121,  0.79179462,  0.97277012],
       [-0.50182253,  2.00593865, -1.33297076, -0.99147724],
       [-0.85754482,  1.0488987 , -1.27705589, -1.12242707],
       [ 0.32819617, -0.62592122,  0.17673096,  0.18707118],
       [ 1.03964076,  0.09185875,  1.07136901,  1.62751925],
       [ 0.68391846, -0.62592122,  1.07136901,  1.23466977],
       [ 0.80249256, -0.62592122,  0.51222023,  0.44897083],
       [-0.97611892,  0.80963871, -1.22114101, -1.25337689],
       [ 1.03964076,  0.09185875,  0.5681351 ,  0.44897083],
       [ 0.56534437, -0.62592122,  0.79179462,  0.44897083],
       [ 1.03964076, -0.14740124,  0.8477095 ,  1.49656942],
       [ 1.03964076,  0.57037872,  1.12728389,  1.23466977],
       [ 0.68391846,  0.09185875,  1.01545413,  0.8418203 ],
       [ 1.63251126,  1.28815868,  1.3509434 ,  1.75846907],
       [-0.38324843,  2.72371861, -1.27705589, -1.25337689],
       [-0.50182253, -0.14740124,  0.45630535,  0.44897083]])

In [54]:
# 4、knn算法估计器
from sklearn.neighbors import KNeighborsClassifier
# n_neighbors是knn的k值
knn = KNeighborsClassifier(n_neighbors=3)
# 训练数据
knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [56]:
# 5、模型评估
# 方法1：直接对比真实值和预估值
x_predict = knn.predict(x_test)
print("x_predict:\n",x_predict)
print("直接对比真实值和预估值:\n",y_test == x_predict)
# 方法2：计算准确率
score = knn.score(x_test,y_test)
print("准确率：",score)

x_predict:
 [2 1 0 1 1 1 2 1 2 2 1 0 0 0 2 1 1 2 0 1 1 0 2 0 0 1 2 2 1 0 1 1 2 2 2 2 0
 1]
直接对比真实值和预估值:
 [ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True False  True  True  True
  True  True  True  True  True  True  True False  True  True  True  True
  True  True]
准确率： 0.9473684210526315